@font-face {
    font-family: "doctor-who";
    src: url(./assets/font/Doctor-Who.ttf);
}

:root {
    --color1: #00060b;
    --color2: #00203c;
    --color3: #003b6f;
    --color4: #6f8ea9;
    --color5: #a6b8c7;
    --color6: #ffffff;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    background-image: url(./assets/images/galifrean.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    width: 100vw;
    height: auto;
    font-family: "doctor-who";
    font-size: 16px;
    color: var(--color6);
}

header {
    height: 100vh;
}

nav {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

ul {
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;
    display: flex;
    gap: 3rem;
}

a {
    display: flex;
    width: 6rem;
    height: 2rem;
    color: var(--color6);
    background-color: var(--color3);
    border-radius: 50vh;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#titles {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

h1 {
    margin-block: 0;
    font-size: 16rem;
}

h2 {
    margin-block: 0;
    font-size: 9rem;
}

.eras {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.anim {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.box {
    perspective: 800px;
    width: 425px;
    height: 750px;
    /* position: relative; */
}

.faces {
    /* height: 100%; */
    line-height: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    /* top: calc((var(--box-height) - 923.45px) / 2); */
}

/* .box img {
    height: 100%;
} */

#front {
    transform: rotateY(0deg);
}

#right {
    transform: rotateY(45deg);
}

#back {
    transform: rotateY(180deg);
}

#left {
    transform: rotateY(-45deg);
}